[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"

[packages]
jpype1 = "==0.6.3"
numpy = "*"
pyjnius = "*"

[requires]
python_version = "3.7"
